<div class="carousel-wrapper is-moved-by-drawer">
	<div class="carousel" data-slick='{
		"autoplay": true,
		"autoplaySpeed": 3000,
		"dots": true,
		"draggable": true,
		"fade": true,
		"arrows": true,
		"infinite": true,
		"pauseOnHover": false,
		"speed": 400,
		"rtl": false}'>
		<div>
			<img src="{{ 'slide-1-image.jpg' | asset_url }}" />
		</div>
		<div>
			<img src="{{ 'slide-2-image.jpg' | asset_url }}" />
		</div>
		<div>
			<img src="{{ 'slide-3-image.jpg' | asset_url }}" />
		</div>
	</div>
</div>