<div class="carousel-wrapper">
	<div class="carousel" data-slick='{
		"autoplay": true,
		"autoplaySpeed": 3000,
		"dots": true,
		"draggable": true,
		"fade": true,
		"arrows": true,
		"infinite": true,
		"pauseOnHover": false,
		"speed": 400,
		"rtl": false}'>
		<div>
			<img src="http://placehold.it/1200x500.png" />
		</div>
		<div>
			<img src="http://placehold.it/1200x500/eee/000.png" />
		</div>
		<div>
			<img src="http://placehold.it/1200x500/333/eee.png" />
		</div>
	</div>
</div>