<div class="carousel">
	<div>
		<img src="http://placehold.it/940x500.png" />
	</div>
	<div>
		<img src="http://placehold.it/940x500/eee/000.png" />
	</div>
	<div>
		<img src="http://placehold.it/940x500/333/eee.png" />
	</div>
</div>